<div [ngSwitch]="isAuthenticated()">

    <div class="alert alert-success" *ngSwitchCase="true" routerLinkActive="active">
        <div class="row">
            <div *jhiHasAnyAuthority="'ROLE_ADMIN'">
                <h1 class="display-4">Welcome, ADMIN Presto Zoom!</h1>
                <img src="../../content/images/admin/loginAdmin.png" width="100%">
            </div>
            <div *jhiHasAnyAuthority="'ROLE_USER'">
                <h1 class="display-4">Welcome, CLIENT Presto Zoom!</h1>
                <img src="../../content/images/partner/ManagedbyQ.png" width="100%">

            </div>
            <div *jhiHasAnyAuthority="'ROLE_PARTNER'">
                <h1 class="display-4">Welcome, PARTNER Presto Zoom!</h1>
                <img src="../../content/images/partner/partnerlogin.png" width="100%">

            </div>


        </div>

    </div>

    <div *ngSwitchCase="false">

    <div class="row">
    <div class="col-md-3">
        <span class="hipster img-fluid rounded"></span>
    </div>
    <div class="col-md-9">
        <h1 class="display-4" jhiTranslate="home.title">Welcome to Presto Zoom!</h1>
        <p class="lead" jhiTranslate="home.subtitle">For Presentation</p>

        <div [ngSwitch]="isAuthenticated()">
            <div class="alert alert-success" *ngSwitchCase="true">
                <span id="home-logged-message" *ngIf="account" jhiTranslate="home.logged.message"
                    translateValues="{username: '{{account.login}}'}"> You are logged in as user "{{account.login}}". </span>
            </div>

            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.authenticated.prefix">If you want to </span>
                <a class="alert-link" (click)="login()" jhiTranslate="global.messages.info.authenticated.link">sign in</a><span jhiTranslate="global.messages.info.authenticated.suffix">, you can try the default accounts:<br/>- Administrator (login="admin" and password="admin") <br/>- User (login="user" and password="user").</span>
            </div>
            <div class="alert alert-warning" *ngSwitchCase="false">
                <span jhiTranslate="global.messages.info.register.noaccount">You don't have an account yet?</span>&nbsp;
                <a class="alert-link" routerLink="register" jhiTranslate="global.messages.info.register.link">Register a new account</a>
            </div>
        </div>

        <p jhiTranslate="home.question">
            If you have any question on JHipster:
        </p>

        <ul>
            <li><a href="https://prestozoom.com/" target="_blank" rel="noopener" jhiTranslate="home.link.homepage">Presto Zoom Website</a></li>
            <li><a href="https://www.linkedin.com/company/prestozoom/" target="_blank" rel="noopener" jhiTranslate="home.link.linkedin">Presto Zoom on LinkedIn</a></li>
            <li><a href="https://www.facebook.com/prestozoom/" target="_blank" rel="noopener" jhiTranslate="home.link.facebook">Presto Zoom Facebook Page</a></li>
            <li><a href="https://twitter.com/prestozoom?lang=en" target="_blank" rel="noopener" jhiTranslate="home.link.twitter">follow @prestozoom on Twitter</a></li>
        </ul>

        <p>
            <span jhiTranslate="home.like">If you like JHipster, don't forget to give us a star on</span> <a href="https://github.com/jhipster/generator-jhipster" target="_blank" rel="noopener" jhiTranslate="home.github">GitHub</a>!
        </p>
    </div>
</div>
</div>
</div>
